body {
  padding: 0px 80px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  margin-top: 30px;
  background-color: rgb(219, 218, 248);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.right {
  display: flex;

  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.rightDetails {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.details {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  width: 100%;
  background-color: #d3d0d0;
  color: white;
  margin-bottom: 30px;
}
.link {
  font-size: 20px;
}
.booking {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.filter {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
select {
  padding: 0px 80px 0px 10px;
}
.imgPost {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.btn {
  height: 50px;
  width: 100px;
}
.topComment {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
}
.comment {
  margin-top: 20px;
  height: 100px;
  width: 300px;
  font-size: 15px;
  font-weight: 200;
}
.all-comments {
  width: 40%;
}
.shops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
.description {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
